@model IEnumerable<PoliziaDiStato.Models.Anagrafica>

@{
    ViewBag.Title = "TotalePuntiDecurtatiAggressore";
}

<h2>Totale Punti Decurtati Aggressore</h2>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th class="mb-0 fw-bold">Cognome</th>
            <th class="mb-0 fw-bold">Nome</th>
            <th class="mb-0 fw-bold">Totale Punti Decurtati</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="mb-0">@item.Cognome</td>
                <td class="mb-0">@item.Nome</td>
                <td class="mb-0">@item.TotalePuntiDecurtati</td>
            </tr>
        }
    </table>
    </div>

